<!doctype html>
<html lang="pt-br">

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>SGI Rodrigues Colchões</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxPreloader/dmxPreloader.css" />
  <script src="/dmxAppConnect/dmxPreloader/dmxPreloader.js" defer></script>
</head>

<body is="dmx-app" id="backoffice">
  <header class="py-2 bg-white mb-3">
    <div class="container-fluid py-2">
      <div class="row align-items-center">
        <div class="col align-self-center">
          <div class="d-flex align-items-center">
            <div class="dropdown me-3">
              <button id="dropdown1" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars me-2"></i>Menu&nbsp;&nbsp;</button>
              <div class="dropdown-menu" aria-labelledby="dropdown1">
                <a class="dropdown-item" href="/d/backoffice/controle-de-entrada" internal="true">Controle de entrada</a>
              </div>
            </div><a href="/d/backoffice/" internal="true"><img src="/assets/images/LOGO COLORIDO.png" class="img-fluid" width="96"></a>
          </div>


        </div>
        <div class="col"></div>
      </div>
    </div>
  </header>
  <main is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </main>
  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>